[Unit]
Description=SCSI Target Service

[Service]
Type=forking
ExecStart=/etc/rc.d/tgt start
ExecStop=/etc/rc.d/tgt stop
ExecRestart=/etc/rc.d/tgt restart
Restart=always

[Install]
WantedBy=multi-user.target
