[Unit]
Description=Glance Image Registry Service

[Service]
ExecStart=/opt/openstack/bin/glance-registry
Restart=always

[Install]
WantedBy=multi-user.target
