[Unit]
Description=Keystone Identity Service

[Service]
ExecStart=/opt/openstack/bin/keystone-all
Restart=always

[Install]
WantedBy=multi-user.target
