[Unit]
Description=Nova API Service
Wants=libvirt.service

[Service]
ExecStart=/opt/openstack/bin/nova-compute
Restart=always

[Install]
WantedBy=multi-user.target
