[Unit]
Description=Nova Network Service

[Service]
ExecStart=/opt/openstack-essex/bin/nova-network
Restart=always

[Install]
WantedBy=multi-user.target
