[Unit]
Description=Nova Scheduler Service

[Service]
ExecStart=/opt/openstack-essex/nova/bin/nova-scheduler
Restart=always

[Install]
WantedBy=multi-user.target
