[Unit]
Description=Nova Cert Service

[Service]
ExecStart=/opt/openstack-essex/nova/bin/nova-cert
Restart=always

[Install]
WantedBy=multi-user.target
