[Unit]
Description=Nova Console Auth Service

[Service]
ExecStart=/opt/openstack-essex/nova/bin/nova-consoleauth
Restart=always

[Install]
WantedBy=multi-user.target
